/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: center; }
  .header__logo img {
    width: 80px; }
  .header__search-input {
    width: 30rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #e9e8e8;
    border-radius: 2rem; }
  .header__right {
    display: flex; }
    .header__right-icon {
      fill: #707070;
      width: 3rem;
      margin: 0 2rem; }
    .header__right .header__user-img {
      width: 10rem;
      border-radius: 50%; }
